@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide arrows in input type number for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in input type number for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.animate-spin {
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  animation: spin 1s linear infinite;
}
